body{
     font-family: monospace;
     font-size: 16px;
     margin: 50px auto;
     padding: 0 20px;
     background: #00FFFF;
     color:white;
}
#body2 {
     background-image: url('http://78.media.tumblr.com/0bc115ce38ff12ce1149f332045dfad9/tumblr_ntq1dsElnk1txe8seo1_500.gif');
}
button {
       display: block;
       margin: 0 auto;
       background-color:white;
       border: none;
       color:#00FFFF ;
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       font-size: 16px;
}

img {
    margin-top: 260px;
    display: block;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    text-align: center;
}

a{
    background: white;
    color: #00bfff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 260px;
    margin-left: 95px;
    font-size: 24px;
    text-decoration: none;

}
.upload-image-input {
    display: none;
}
textarea {
   font-family: monospace;
   font-size: 18px;
}
