body{
     font-family: monospace;
     font-size: 16px;
     margin: 50px auto;
     padding: 0 20px;
     background: #00FFFF;
     color:white;
}
#body2 {
     background-image: url('http://78.media.tumblr.com/0bc115ce38ff12ce1149f332045dfad9/tumblr_ntq1dsElnk1txe8seo1_500.gif');
}
button {
  display: block;
  background-color:white;
  color:#00FFFF ;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left:37%;
  width: 150px;
  text-align: center;
  margin:0 auto;
  margin-top: 30px;
  border: white;
}
#myButton{
  width: 150px;
 text-align: center;
 margin:0 auto;
 margin-top: 30px;
 border: white;
}

img {
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 width: 100%;
 max-width: 600px;
}
.homelogo{
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 220px;
 width: 100%;
 max-width: 600px;
}


h1 {
    text-align: center;
    font-size: 24px;
}

a{
  display: block;
  background-color:white;
  color:#00FFFF ;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left:37%;
  width: 150px;
  text-align: center;
  margin:0 auto;
  margin-top: 250px;
  border: white;

}
.upload-image-input {
    display: none;
}
#logo{
    width: 200px;
    margin: 60px auto;
    display: block;
}
#logo1{
  width: 200px;
  margin: 50px;
  margin-left: 45%;
  display: block;
}

#submitbutton{
  width: 150px;
 text-align: center;
 margin:0 auto;
 margin-top: 10%;
 margin-left: 42%;
 border: white;
  }
#submitimage{
      margin: 30px;
      padding:80px;
}

.image{
  max-width:520px;
  max-height: 520px;
}

textarea{
    width:550px;
    border:solid 5px white;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    background-color:white;
    padding: 1em 0 1em 0;
    padding: 10px;
    font-family: monospace;
    font-size: 10px;
}

h3{
  margin: 10px;
}
#finalbutton{
  display: block;
  background-color:white;
  color:#00FFFF ;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left:37%;
  width: 150px;
  text-align: center;
  margin:0 auto;
  margin-top: 30px;
  border: white;
}
